html {
    width: 100%;
    height: 100%;
}

body{
    width: 99%;
    height: 100%;
    background-image: url(https://images5.alphacoders.com/367/367048.jpg);
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 75px;
    font-weight: 5;
    color: #fff;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
    from {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 70px #2c48e2, 0 0 80px #2c48e2, 0 0 100px #2c48e2, 0 0 150px #2c48e2;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 35px #2c48e2, 0 0 40px #2c48e2, 0 0 50px #2c48e2, 0 0 75px #2c48e2;
    }
    }

.task {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.zone {
    margin-left: 140px;
    margin-top: 13px;
}

.add2 {
    display: none;
    width: 500px;
    height: 50px;
    background: rgba(50, 88, 168, 0.5);
    margin-left: 25%;
    margin-top: 10%;
    border-radius: 15%;
    box-shadow: 0px 0px 55px 5px black;

}

button {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}

.todo {
    background: none;
    border: none;
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
    width: 500px;
    height: 50px;
    color: white;
    outline: none;
}

.board {
    background-image: url(http://images.wisegeek.com/blackboard-slate.jpg);
    width: 1000px;
    height: 664px;
    margin-left: 130px;
    padding-top: 10px;
}

.plus {
    position: absolute;
    display: flex;
    background: none;
    border: none;
    margin-left: 67.5%;
    margin-top: -3.5%;
    cursor: pointer;
    outline: none;
}

.diskette {
    outline: none;
}

.cross {
    outline: none;
}
